# Analysing the data of Car Sales

## At first we need to import some libraries which we will be using to do our data anlalysis. Libraries which we will be importing are:
### 1.pandas
### 2.numpy
### 3.matplotlib
### 4.seaborn

In [7]:
import os as o
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Defining the working directory

In [10]:
o.chdir(r'C:\Users\Vinayak\Documents\DA_Project')

### Importing the dataset we have as an excel csv file in a variable named cars

In [11]:
cars = pd.read_csv('Car_sales.csv')

### Viewing our imported dataset's first five observations

In [12]:
cars.head()

,Make,Model,Salesinthousands,Priceinthousands,Enginesize,Horsepower,Wheelbase,Width,Length,Curbweight,MPG,LatestLaunch
0,Acura,Integra,16.919,21.5,1.8,140,101.2,67.3,172.4,2.639,28,02-Feb-14
1,Acura,TL,39.384,28.4,3.2,225,108.1,70.3,192.9,3.517,25,06-Mar-15
2,Acura,CL,14.114,.,3.2,225,106.9,70.6,192,3.47,26,01-Apr-14
3,Acura,RL,8.588,42,3.5,210,114.6,71.4,196.6,3.85,22,03-Oct-15
4,Audi,A4,20.397,23.99,1.8,150,102.6,68.2,178,2.998,27,10-Aug-15

### Observing complete information of our dataset columns: range, type and datatype

In [13]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 12 columns):
Make                157 non-null object
Model               157 non-null object
Salesinthousands    157 non-null float64
Priceinthousands    157 non-null object
Enginesize          157 non-null object
Horsepower          157 non-null object
Wheelbase           157 non-null object
Width               157 non-null object
Length              157 non-null object
Curbweight          157 non-null object
MPG                 157 non-null object
LatestLaunch        157 non-null object
dtypes: float64(1), object(11)
memory usage: 14.8+ KB

### Deleting duplicate rows if any
#### This is done because duplicate data is not considered good for the analysis

In [14]:
cars = cars.drop_duplicates(keep='first')